/* blog comments */
.blog-comment-section {
    border-top: 1px solid #78abcd;
    margin-top: 20px;
    padding-top: 20px;
}

.blog-comment-reply-section {
    border-top: 1px solid #78abcd;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #78abcd;
}

.blog-comment-section-top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.blog-comment-likes {
  color: #dc1d31;
}

.blog-comment-section-comments {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blog-comment {
  padding: 20px;
  border-bottom: 1px solid #78abcd;
}

.blog-comment .hide-replies {
  padding-bottom: 0;
  cursor: pointer;
  color: #78abcd;
  font-weight: bold;
}
.blog-comment[data-replies-visible="true"] .view-replies {
  display: none;
}
.blog-comment[data-replies-visible="true"] .comment-replies-content {
  display: block;
}
.blog-comment[data-replies-visible="false"] .hide-replies {
  display: none;
}
.blog-comment[data-replies-visible="false"] .comment-replies-content {
  display: none;
}
.blog-comment .blog-comment {
  border-bottom: none;
  padding: 20px 20px 0 20px;
}
.blog-comment .blog-comment .comment-replies, .blog-comment .blog-comment .comment-reply {
  display: none;
}

.commentor-name {
  font-weight: bold;
}

.comment-content {
  padding: 10px 0;
}

.comment-reply {
  color: #78abcd;
  cursor: pointer;
}

.comment-replies-title {
  color: #78abcd;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
}

.leave-a-comment-section {
  padding: 20px;
  border-bottom: 1px solid #78abcd;
}

body.not-signed-in .sign-in-form {
  display: block;
}

.leave-a-comment-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.enter-comment {
  margin-bottom: 10px;
}
.enter-comment textarea {
  width: 400px;
  height: 150px;
  padding: 10px;
  line-height: 20px;
  border-color: #78abcd;
}
@media (max-width: 768px) {
  .enter-comment textarea {
    width: 100%;
  }
}

.comment-leave-a-reply .enter-comment textarea {
  height: 80px;
}

.blog-comment .comment-leave-a-reply {
  display: none;
}
.blog-comment .blog-comment .comment-leave-a-reply {
  display: none !important;
}
.blog-comment.reply-active .comment-reply {
  display: none;
}
.blog-comment.reply-active .comment-leave-a-reply {
  display: block;
}

.sign-in-form input {
  margin-bottom: 10px;
  height: 40px;
  width: 400px;
  border-color: #78abcd;
  border-width: 1px;
  padding: 0 10px;
  line-height: 40px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .sign-in-form input {
    width: 100%;
  }
}

.user-signed-in .sign-in-form {
  display: none;
}

.submit-comment, .submit-reply {
  background: #78abcd;
  padding: 10px 15px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.comment-reply-count-0 {
  display: none;
}
